In [1]:
print ( "Hello world!" )

Hello world!

In [1]:
'hello'

'hello'

In [5]:
print('hello',123, 12.3)

hello 123 12.3

In [3]:
print('helo')

helo

In [7]:
name ='zain'
print(name)

zain

In [8]:
a=8
b=8

In [4]:
c +=19 
d=69
d

69

In [8]:
c+=5
c

77

In [1]:
abc ={'11','2', 'apple mango'}

In [9]:
num = 34
new = num + 45
print(new)

79

a'hello'

In [1]:
num = 64
to = num /2
print(to)

32.0

In [14]:
num = 12
do = num ** 2
print(do)

144

In [2]:
'Hello'

'Hello'

In [3]:
123

123

In [11]:
"good"

'good'

In [12]:
num = 65
to = num - 23
print(to)

42

num = 12
do = num * 2
print(do)

In [5]:
'good'

'good'

In [6]:
'good'

'good'

In [7]:
'hello'123 12.3

SyntaxError: invalid syntax (<ipython-input-7-14b2ed3670fd>, line 1)

In [8]:
'hello' 123 12.3

SyntaxError: invalid syntax (<ipython-input-8-be4a7d2ea253>, line 1)

In [2]:
'hello' 123 12.3

SyntaxError: invalid syntax (<ipython-input-2-be4a7d2ea253>, line 1)

In [47]:
frist_name = Hamza
last_name = khan
print(first_name + ' ' + last_name)

NameError: name 'Hamza' is not defined

In [64]:

print("the number is " +a)

NameError: name 'hadi' is not defined

In [2]:
name = 'ali'
age =  "23"
print("age")

age

In [5]:
format

In [2]:
name ="ali "
age =35
print("my name is{'name'} and my age is {}")

my name is{'name'} and my age is {}

In [12]:
c+=4
c

94

In [2]:
print ("i have computerized our life ")

i have computerized our life

In [3]:
'hello'

'hello'

In [4]:
print('hello',123, 12.3)

hello 123 12.3

In [1]:
print('helo')

helo

In [6]:
name ='zain'
print(name)

zain

In [4]:
'hello'

print('hello',123, 12.3)

print('helo')

name ='zain'
print(name)print ('Hello , worlld!')

Hello , worlld!

In [8]:
print(name) 
name = 'Noorussaher'

ahad

In [1]:
name = 'noorussaher'
print(name)

noorussaher

In [4]:
name = "Noorussaher"
name = "fahad"
print(name)

fahad

In [7]:
print(name)
name = "saad"
name = "ahad"

fahad

In [3]:
name = "Shahzad Ahsan"
name = 'Hamza Khan'


print(name)

Hamza Khan

# Book Exercise

# Concatenating text strings book excersie

In [2]:
 greeting = "Hello"
 separators = ", "
 addressee = "World"
 punc = "!"
 whole_greeting = greeting + separators + addressee + punc
 print(whole_greeting)

Hello, World!

In [3]:
 greeting = "Hello"
 separators = ", "
 addressee = "World"
 punc = "!"
 whole_greeting = greeting + separators + addressee + punc
 print("Hello, " + "World!")

Hello, World!

In [4]:
greeting = "Hello"
separators = ", "
addressee = "World"
punc = "!"
whole_greeting = greeting + separators + addressee + punc
print(greeting + separators + addressee + punc)

Hello, World!

In [5]:
greeting = "Hello"
separators = ", "
addressee = "World"
punc = "!"
whole_greeting = greeting + separators + addressee + punc
print("Hello" + separators + "World" + punc)

Hello, World!